<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    displayDetailsOnAllIssues="true"
    failOnAllIssues="true"
>
    <php>
        <!-- Prevent cache folder interaction -->
        <env name="COMPOSER_CACHE_READ_ONLY" value="true" />
        <env name="COMPOSER_HTACCESS_PROTECT" value="false" />
    </php>
    <testsuites>
        <testsuite name="Laminas\\ComponentInstaller Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
